.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        color: var(--white);
    }
}
.containerHeader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    gap:14px;
    button{
        background: transparent;
        border: 0;
    }
}